/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require mobile
*= require_self
*/

* {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

/*h1 {*/
    /*font-size: 2em;*/
/*}*/

/*h2 {*/
    /*font-size: 1.8em;*/
/*}*/

/*h3 {*/
    /*font-size: 1.5em;*/
/*}*/

#diary-date {
    /*font-weight: bold;*/

}

#diaryRemainingValuesContainer {
    width: 50%;
    margin-bottom: 50px;
}

#diaryRemainingValuesContainer .row {
    border: 3px inset #FFFFFF;
    border-radius: 5px;
    padding: 5px;
}
.diary-remainder-group {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.diary-remaining-value {
    font-size: 1.5em;
}

.diary-remainder-category-name {
    font-size: 1.5em;
}

body {
    background-color: #3d4e59;
}

.add-food-link {
    font-weight: bold;
}

#site-nav {
    background-color: #c63f17;
    color: #fff;
    border: none;
}

#site-nav a {

    min-height: 50px !important;
}


#site-nav a, #logout-button input{
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    border: 0;
}

#logout-button {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

#site-nav li {
    min-height: 50px !important;
}
#site-nav li.active a, #site-nav li.active a:hover, #site-nav li.active a:focus {
    background-color: #F8F8F8;
    color:#333333 !important;
    border: none;
}
.nav .dropdown-menu {
    display: none;
    background-color: #009EA7;
    color: #fff;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.nav .dropdown-menu a {
    color: black;
    display: block;
}

.nav .dropdown:hover .dropdown-menu {
    display: block;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.meal-panel-heading {
    background-color: #c63f17;
    color: #ffffff;
}

.starch-color {
    color: #f4d03f;
}

.protein-color {
    color: #ffa69a;
}
.veggie-color {
    color:#38f689;
}

.milk-color {
    color:#00ffff;
}

.fruit-color {
    color: #f9aaf9;
}

.fats-color {
    color: #f2784b;
}